<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name = "hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name = "hibernate.connection.url">jdbc:mysql://localhost/small_Twitter_emulator</property>
        <property name = "hibernate.connection.username">root</property>
        <property name = "hibernate.connection.password">1159285mahdi</property>
        <property name = "hbm2ddl.auto">update</property>

    <mapping class = "org.maktab.entities.User"/>
    <mapping class = "org.maktab.entities.Article"/>

    </session-factory>
</hibernate-configuration>