<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name = "hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name = "hibernate.connection.url">jdbc:mysql://localhost/small_Twitter_emulator</property>
        <property name = "hibernate.connection.username">root</property>
        <property name = "hibernate.connection.password">1159285mahdi</property>

<!--        <mapping class = ""/>-->

    </session-factory>
</hibernate-configuration>